:root {
    --background-blue: rgb(87, 62, 230);
    --background-purple: rgb(194, 43, 231);
    --background-white: white;
    --border-radius: 50px;
}

.navbar {
    background: linear-gradient(90deg, var(--background-blue), var(--background-purple)) !important;
}

.nav-link:hover {
    border-radius: 15px;
    background-color: rgba(207, 205, 205, 0.301);
}

.title {
    border-bottom: black 2px solid;
}

.bodyCard:hover {
    background-color: rgba(169, 169, 169, 0.192);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aboutCard {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.team:hover ,svg:hover, .bodyCard:hover{
    cursor: pointer;
    scale: 1.05;
    transition-duration: 0.3s;
}

svg:hover {
    fill: var(--background-blue);
}

.container {
    background: linear-gradient(90deg, var(--background-blue), var(--background-purple)) !important;
    width: 100% !important;
    /* height: 100vh; */
    background-size: 100%;
    max-width: 2400px !important;
}

.card-img-top:hover {
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}

.container4 {
    background-color: white !important;
}

input,
textarea {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form button {
    width: 400px;
    background: linear-gradient(90deg, var(--background-blue), var(--background-purple));
}

.bi {
    color: rgb(87, 62, 230);

}

.container6 {
    width: 100%;
}

.containerF {

    background-color: rgb(124, 121, 121);
    color: white;
    width: 1349px;
}

.container7 .row {
    width: 100%;
}

footer{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
